{% extends "base.html" %}
{% load static %}
{% block title %}SYBIB | Accueil{% endblock %}
{% block content %}

<div class="ui stackable center aligned middle aligned grid">
    <div class="eight wide column">
        <a href = "{% url "add_book_scan" %}">
        <div class="ui segment">
            <div class="ui icon header">
                <i class="barcode blue icon"></i>
                Scanner un livre
            </div>
            <div class="inline">Prendre en photo un code ISBN</div>
        </div>
        </a>
    </div>
    <div class="eight wide column">
        <a href = "{% url "add_book" %}">
        <div class="ui segment">
            <div class="ui icon header">
                <i class="keyboard outline blue icon"></i>
                Ajouter un livre manuellement
            </div>
            <div class="inline">Saisir l'ISBN à la main</div>
        </div>
        </a>
    </div>
    <div class="eight wide column">
        <a href =#>
        <div class="ui segment">
            <div class="ui icon header">
                <i class="book blue icon"></i>
                Répertoire
            </div>
            <div class="inline">Lorem ipsum</div>
        </div>
        </a>
    </div>
</div>
{% endblock %}